URxvt.transparent: true
URxvt.shading:20
URxvt.scrollBar:false
! URxvt*font:xft:monaco:size=10
URxvt*font:xft:Terminus:medium:size=10
URxvt.letterSpace:-6

! Included this so you know how to make your foreground not match the color of your background
URxvt.cursorColor: reverse
