snippet if
if($1){
	$0
}
endsnippet
snippet for
for(int $1=0; $1 < $2; $1++){
	$0
}
endsnippet
snippet def
$1($2)
{
	$0
}
endsnippet
# print with label
snippet pv
cout << "${VISUAL}$1 => " << ${VISUAL}$1 << endl;
endsnippet
